doctype html
html
  head
    title= title
    link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="display: flex; min-height:100vh; flex-direction: column")
    script(defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js")
    include navbar.pug
    block hero
    block content
    include footer.pug
